*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;

    background-image: url('./images/cover.jpg');
    background-size: cover;
    overflow: hidden;


	@include respond(tab-land){
		font-size: 56.25%;
	}
	@include respond(tab-port){
        background-image: none;
		font-size: 50%;
	}
	@include respond(phone){
		font-size: 30%;
	}
	
	@include respond(big-desk){
        font-size: 75%;
    }
}



body{
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem; 
    height:100vh;
}

#root{
    height: 100%;
}

