*{
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;

    background-image: url('./images/cover.jpg');
    background-size: cover;
    


	@include respond(tab-land){
		font-size: 56.25%;
	}
	@include respond(tab-port){
        background-image: none;
		font-size: 50%;
	}
	@include respond(phone){
		font-size: 30%;
	}
	
	@include respond(big-desk){
        font-size: 75%;
    }
}



body{
    font-family: 'Inconsolata', monospace;
    font-size: $large-normal-font;
    height:100vh;

    @include respond(tab-port){
        font-size: $medium-normal-font;
    }
    @include respond(phone){
        font-size: $small-normal-font;
    }
    @include respond(phone-s){
        font-size: $smallest-normal-font;
    }
}

#root{
    height: 100%;
}

