$main-bg-col: #e8f0ff;
$canvas-white: #fff9ef;
$primary-col: #FB8847;
$secondary-col : #FD792E;

$contrast-col : #037295;

$large-header: 5.5rem;
$medium-header: 7rem;
$small-header: 8.5rem;
$smallest-header: 8rem;

$large-normal-font: 2rem;
$medium-normal-font: 2.5rem;
$small-normal-font: 4rem;
$smallest-normal-font: 4.5rem;

$small-footer: 4rem;
$smallest-footer: 3.5rem;