.header{
    background-color: $primary-col;
    color: white;
    
    font-family: 'Dancing Script', cursive;
    font-size: $large-header;
    font-weight: 800;

    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(tab-port){
        font-size: $medium-header;
    }

    
    @include respond(phone){
        font-size: $small-header;
        flex-direction: column;
        padding: 1rem 0;
    }
    @include respond(phone-s){
        font-size: $smallest-header;
    }
    
    &__logo{
        text-decoration: none;
        color: white;
    }

    &__user{
        font-family: 'Inconsolata', monospace;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        
        width: 20rem;
        
        @include respond(tab-port){
            width: 25rem;
        }
        @include respond(phone){
            width: 100%;
            justify-content: center;
        }

        
        &-img{
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 100%;
            margin: 0 .5rem 0 .5rem;

            @include respond(tab-port){
                height: 7rem;
                width: 7rem;
            }

            
        }

        &-name{
            font-size: $large-normal-font;
            font-weight: 300;
            margin: .5rem;

            @include respond(tab-port){
                font-size: $medium-normal-font;
            }
            @include respond(phone){
                font-size: $small-normal-font;
            }
        }
        &-dropdown{
            &-chev{
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 100%;
                font-family: 'Dancing Script', cursive;
                cursor: pointer;
                
                padding-top: .5rem;
                margin: 0 1rem 0 0;
                transition: all .5s;

                @include respond(tab-port){
                }
                @include respond(phone){
                }
                &:hover{
                    transform: rotate(360deg);
                }
            }
        }

        
        &-dropdownMenu{
            opacity: 0;
            position: absolute;
            top: 124%;

            width: 100%;
            
            background-color: $main-bg-col;
            transition: all .2s;

            border: .05rem solid rgba($secondary-col,.5);

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            @include respond(tab-port){
                top: 120%;
            }
            @include respond(phone){
                width: 100%;
                top: 100%;
            }


            &>*{

                display: none;
                font-size: $large-normal-font;
                font-weight: 300;
                color: $contrast-col;
                text-transform: uppercase;
                border-bottom: .1rem solid $secondary-col;
                cursor: pointer;

                @include respond(tab-port){
                    font-size: $medium-normal-font;
                }
                @include respond(phone){
                    font-size: $small-normal-font;
                    margin: 1rem 0;
                }
                @include respond(phone-s){
                    font-size: $smallest-normal-font;
                }
            }
        }

        &-dropdownMenu.active{
            
            animation: dropdown .2s;
            animation-fill-mode: forwards;
            @include respond(phone){
                animation: dropdown-s .2s;
                animation-fill-mode: forwards;
            }
        }

        &-dropdownMenu.active>*{
            display: block;
            cursor: pointer;
        }
    }
}

@keyframes dropdown{
    1%{
        display: block;
    }
    10%{
        opacity: .1;
        height: 3rem;
    }
    50%{
        opacity: .5;
        height: 5rem;
    }
    80%{
        opacity: .6;
        height: 7rem;
    }
    100%{
        opacity: 1;
        height: 8rem;
    }
}

@keyframes dropdown-s{
    1%{
        display: block;
    }
    10%{
        opacity: .1;
        height: 5rem;
    }
    50%{
        opacity: .5;
        height: 7rem;
    }
    80%{
        opacity: .6;
        height: 9rem;
    }
    100%{
        opacity: 1;
        height: 12rem;
    }
}

#chevSvg{
    height: 1.5rem;

    @include respond(tab-port){
        height: 2rem;
    }
}