.focus{
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__btnPanel{
        width: 40rem;
        display: flex;
        justify-content: space-evenly;


        &-tasks{
            min-width: 10rem;
            color: $contrast-col;
            background-color: transparent;

            border: 1px solid $contrast-col;
            border-radius: .5rem;
            padding: 1rem;
            &:focus{
                outline: none;
                border: 1px solid $secondary-col;
            }
        }
    }
}