.settings{
    min-height: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    &__list{
        min-height: 35rem;
        margin: auto;

        &-item{
            border: 1px solid $contrast-col;
            border-radius: .5rem;
            padding: 1rem;
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: 600;
            color: $contrast-col;

            display: flex;
            justify-content: space-between;
            align-items: center;

            &-input{
                max-width: 4rem;
                border: none;
                text-decoration: none;
                color: $contrast-col;
                padding: .5rem;
                font-size: 1.8rem;
                backface-visibility: hidden;
                border: .2rem solid $secondary-col;

                transition: all .2s;
                &:focus{
                    outline: none;
                    border: .2rem solid $contrast-col;
                }

                &::placeholder{
                    color: $contrast-col;
                    text-transform: uppercase;
                    font-size: 2rem;
                    font-weight: bold;
                }
            } 
        }
    }
}

.master__switch{
    height: 4rem;;
}
.switch {
position: relative;
z-index: 10;
top: .1rem;
display: inline-block;
width: 6.2rem;
height: 3rem;
}
.check {display:none;}

.slider {
    position: relative;
    cursor: pointer;
    height: 2rem;
    width: 6rem;
    top: -2.8rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b5b5b5;
    backface-visibility: hidden;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $secondary-col;
}

input:checked + .slider:before {
    transform: translateX(40px);
}

.slider:after
{
content:'OFF';
color: white;
display: block;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
font-size: 10px;
font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
content:'ON';
}
