.signin{
    min-height: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 10rem;

    position: relative;//had to do this for processing component styling;

    &__hr{
        position: absolute;
        left: 50%;
        width: 1px; 
        height: 36rem; 
        background: $contrast-col;
        border: none;
    }

    &__create{
        width: 30rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__login,&__reset,&__signup{
        display: flex;
        flex-direction: column;
    }

    &__getin{
        width: 30rem;
        margin: 0 auto;
    }
    &__getin>button{
        width: 18rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1.5rem;

        background-color: #f2f7ff;
        border: none;
        margin: 0 0 2rem 8rem;

        color: $contrast-col;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        backface-visibility: hidden;
        border-bottom: .2rem solid $secondary-col;
        transition: all .1s;

        &:hover{
            transform: translateY(-.2rem);
            border-bottom: .2rem solid $contrast-col;
        }

        &:active{
            transform: translateY(0rem);
        }
    }

    &__create{
        &-upload{
            color: $contrast-col;
            text-transform: uppercase;
            font-weight: bold;
        }
        &-text{
            outline: none;
            border: none;
            padding: 1rem;
            margin-bottom: 2rem;
            color: $contrast-col;
            border-bottom: .2rem solid $contrast-col;
            &::placeholder{
                color: $contrast-col;
            }

            &:focus{
                border-bottom: .2rem solid $secondary-col;
            }
        }

        &-signBtn{
            width: 10rem;
            margin: 2rem auto;

            border: none;
            background-color: #f2f7ff;
            border-bottom: .2rem solid $contrast-col;
            padding: 1rem;
            cursor: pointer;
            text-transform: uppercase;
            color: $contrast-col;
            font-weight: bold;
            transition: all .2s;

            &:hover{
                transform: translateY(-.2rem);
                border-bottom: .2rem solid $secondary-col;
                color: $contrast-col;
            }
    
            &:active{
                transform: translateY(0rem);
            }
        }

        &-prompt{
            color: $secondary-col;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;

            text-align: center;
            
            width: 20rem;
            margin: 1rem auto;
            transition: all .2s;
            &:hover{
                transform: translateY(-.2rem);
                color: $contrast-col;
            }
    
            &:active{
                transform: translateY(0rem);
            }
        }
    }

}

#googleSvg,#fbSvg,#guestSvg{
    width: 4rem;
}